# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env.production

# Sandbox file so I can fiddle around
sandbox.js

# Project's data
epicOutput.json
dailyScore.json
ragdollScore.json